header 
{
    .navbar-light
    {
        background-color: $couleur-tertiaire;
        box-shadow: $couleur-ombre 0px 2px 5px;
    }

    h1
    {
        font-family: $font-titre;
        font-size: 4em;
        margin-bottom: 0em;
        line-height: 0.8em;
    }

    .btn-outline-success {
        color: $couleur-secondaire;
        border-color: $couleur-secondaire;

        &:active
        {
            background-color: $couleur-tertiaire;
            border-color: $couleur-secondaire;
            color: $couleur-secondaire;
        }
        &:focus
        {
            box-shadow: 0 0 0 0.25rem $couleur-tertiaire-fonce;
        }
        &:hover
        {
            background-color: $couleur-secondaire;
            border-color: $couleur-secondaire;
            color: $couleur-tertiaire;
        }
    }

    .offcanvas
    {
        background-color: $couleur-tertiaire;
    }
}

footer
{
    background-color: $couleur-tertiaire;
    padding-top: 1%;
}