main .home
{
    .sm 
    {margin-top: 20%;
        .card
        {
            height: 330px;
            img 
            {
                height: 200px;
            }
        }
    }
    .lg
    {
        margin-top: 2%;
        .card 
        {
            height: 500px;
            img 
            {
                height: 350px;
            }        
        }          
    }
}