@font-face {
    font-family: 'unashamed';
    src: url(https://github.com/Cpasklaire/CleaLeRoux_5_08062021/blob/master/public/fontend/police/unashamed/Unashamed%20Demo.ttf);}

@font-face {
    font-family: 'opendyslexic';
    src: url(https://github.com/Cpasklaire/CleaLeRoux_5_08062021/blob/master/public/fontend/police/opendyslexic/OpenDyslexic-Regular.otf);}