@font-face {
    font-family: 'unashamed';
    src: url(./police/unashamed/UnashamedDemo.otf);}

@font-face {
    font-family: 'opendyslexic';
    src: url(./police/opendyslexic/OpenDyslexic-Regular.otf);}